
@font-face {
    font-family: "Myriad Pro SemiBold";
    src: url("/fonts/MyriadProSemiBold/MyriadPro-Semibold.woff2")format("woff2");
}
@font-face {
    font-family: "Myriad Pro Regular";
    src: url("/fonts/MyriadProRegular/MyriadPro-Regular.woff2")format("woff2");
}
html,
body {
    scroll-padding-top: 65px; /* set to the height of your header */
}
body{
    font-family: 'Roboto', sans-serif;
    color: $text;
    background-color: $white;
}

.navbar {
    background-image: url(/images/back_1.jpg);
    background-repeat: no-repeat;
    padding: 0.6rem 1rem 0.1rem;
    .navbar-collapse {
        @media (min-width: 768px) {
            padding-right: 4px;
            padding-left: 4px;
        }
    }
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active{
        border-radius: 0;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        border: 0;
        padding: 0.88rem 0.75rem;
        box-shadow: none;
        outline: none;
        &.active{
            background: #000;
            border-radius: 0;
        }
    }
    .navbar-nav {
        .nav-link {
            text-transform: uppercase;
            color: $brown;
            font-size: 16px;
            line-height: 33px;
            &.active{
                color: #fff;
            }
            @media (max-width: 768px) {
                padding: 1rem;
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
    @media (min-width: 768px) {
        &.navbar-expand-md .navbar-nav .nav-link {
            padding-right: 0.9rem;
            padding-left: .8rem;
        }
    }
    @media (max-width: 768px) {
        .collapse.show {
            position: absolute;
            background: #000;
            width: 100%;
            padding: 15px 15px;
            margin-top: 47px;
        }
    }
    .phones-menu{
        color: $white;
        font-size: 20px;
        padding-right: 45px;
        img{
            width: 21px;
            max-height: 21px;
            margin: 2px 10px 0 0;
        }
        a {
            &.big-phone{
                letter-spacing: -0.3px;
            }
            font-size: 20px;
            color: $white;
            text-decoration: none;
            @media (max-width: 768px){
                font-size: 16px;
            }
        }
        @media (max-width: 991px) {
            padding-right: 0;
        }
        @media (max-width: 768px) {
            padding-left: 60px;
        }
    }
    .lang-menu {
        .nav-link {
            color: $brown;
            font-size: 17px;
            &.active {
                color: $white;
                @media (max-width: 768px){
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
        @media (min-width: 768px) {
            .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
        .dropdown{
            position: relative;
            @media (max-width: 991px) {
                .nav.navbar-nav{
                    position: absolute;
                    display: none;
                    padding-left: 9px;
                    padding-right: 22px;
                    background-color: #000000;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        .nav-link {
                            padding-right: 0.5rem;
                            padding-left: 0.5rem;
                            color: rgba(255, 255, 255, 0.75);
                            &.active{
                                color: $white;
                            }
                        }
                        &.show-lang{
                            display: flex;
                        }
                }
            }
        }
        #langDropdownMenuButton{
            display: none;
            color: $white;
            font-size: 16px;
            text-transform: uppercase;
            background-color: transparent;
            border-color: transparent;
            padding-left: 20px;
            border-radius: 0;
            transition: none;
            &.btn:focus, &.btn:active, &.btn.active{
                outline: none;
                box-shadow: none;
            }
            @media (max-width: 991px) {
                display: inline-block;
            }
        }
        .show-lang-block{
            #langDropdownMenuButton{
                background-color: #000000;
            }
        }
    }
    @media (max-width: 768px) {
        padding-top: 0;
    }
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.jumbotron {
    //height: 580px;
    //height: calc(100vh/1.28);
    min-height: 350px;
    background: url(/images/back_1.jpg) no-repeat;
    border-radius: 0;
    margin-bottom: 25px;
    padding-bottom: 1rem !important;
    background-attachment: fixed;
    padding-top: 76px;
    @media (max-width: 991px){
        height: auto;
        padding-bottom: 0;
        padding-top: 58px;
    }
    .gallery-block{
        height: 506px;
        height: calc(100vh/1.82);
        min-height: 485px;
        position: relative;
        z-index: 10;
        max-height: 570px;
        .gallery {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 5;
            overflow: hidden;
            #carouselExampleFade{
                z-index: 10;
                height: 506px;
                height: calc(100%);
                .carousel-indicators {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    left: auto;
                    z-index: 15;
                    display: flex;
                    justify-content: center;
                    padding-left: 0;
                    margin-right: auto;
                    margin-left: auto;
                    list-style: none;
                }
                .carousel-inner {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    height: calc(100%);
                    .carousel-item {
                        height: 100%;
                        .img-item {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center center;
                            z-index: 5;
                        }
                        .description-cantainer{
                            position: absolute;
                            z-index: 15;
                            font-family: "Myriad Pro Regular";
                            font-size: 20px;
                            color: #fff;
                            bottom: 18px;
                            right: 0;
                            text-align: right;
                            padding: 8px 35px 14px 45px;
                            background: rgba(0, 0, 0, 0.6);
                            line-height: 26px;
                        }
                        img {
                            height: auto;
                            width: 100%;
                            @media (max-width: 1530px) {
                                height: 100%;
                                width: auto;
                            }
                        }
                        &:before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            content: '';
                            z-index: 14;
                            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
                            background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
                        }
                    }
                }
            }
        }
        @media (max-width: 768px){
            height: 370px;
            min-height: auto;
        }
    }
    .display-slogan{
        font-size: 120px;
        font-size: calc(6.185vw + 10px);
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.35);
        font-weight: 600;
        font-family: "Myriad Pro SemiBold";
        color: #FFFFFF;
        position: relative;
        z-index: 10;
        left: 23px;
        line-height: 112px;
        line-height: calc(6.185vw + 10px);
        span{
            color: #ea6a07;
        }
        @media (max-width: 768px){
            font-size: 36px;
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.35);
            font-weight: 600;
            line-height: 50px;
        }
    }
    .logo-block{
        z-index: 15;
        margin-top: -30px;
        margin-bottom: -40px;
        padding-bottom: 0;
        max-width: 1200px;
        .logo{
            position: absolute;
            left: -12px;
            top: -24px;
            bottom: 0;
            margin: auto;
            max-height: calc(97%);
            @media (max-width: 768px){
                position: relative;
                top: 0;
                bottom: 0;
                margin: auto;
                max-height: 140px;
            }
        }
        .subslogan-block{
            min-height: 190px;
            @media (max-width: 768px) {
                min-height: inherit;
            }
        }
        h2{
            font-size: 36px;
            text-align: right;
            color: #fff;
            padding-top: 3.4rem;
            padding-bottom: 2.3rem;
            font-weight: 500;
            line-height: 46px;
            @media (max-width: 768px){
                font-size: 20px;
                text-align: center;
                color: #fff;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                line-height: 28px;
                margin: auto;
            }
        }
        @media (max-width: 768px) {
            z-index: 15;
            margin-top: -28px;
            margin-bottom: -15px;
            padding-bottom: 0;
        }
    }
}

.description-company{
    color: $text;
    font-size: 18px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    p {
        margin-top: 0;
        margin-bottom: 1.3rem;
    }
}
.portfolio-block{
    background-image: url(/images/back_2.jpg);
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h3{
        text-align: center;
        font-size: 36px;
        color: $white;
    }
}
